:root {
  --primery-text-color: #434455;
  --title-text-color: #2e2f42;
  --main-beckground-color: #e5e5e5;
  --dark-beckground-color: #2e2f42;
  --primery-brand: #4d5ae5;
  --accent: #e7e9fc;
  --white: #ffffff;
  --light: #f4f4fd;
  --pressed: #404bbf;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--primery-text-color);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.text {
  color: var(--primery-text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* header */
.top-line {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  outline: 2px solid tomato;
}

.nav-box {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-brand);
}

.navigation {
  display: flex;
  align-items: center;
}

.decoration-color {
  color: var(--title-text-color);
}

.site-nav {
  display: flex;
  margin-left: 76px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* .site-nav .site-nav-item {
  margin-right: 40px;
} */

/* .site-nav .site-nav-item:not(:last-child) {
  margin-right: 40px;
} */

.site-nav .site-nav-item + .site-nav-item {
  margin-left: 40px;
}

.site-nav .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--pressed);
}

.contact {
  margin-left: auto;

  font-style: normal;
}

.contact-list {
  display: flex;

  color: var(--primery-text-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-list .contact-item + .contact-item {
  margin-left: 40px;
}

.contact-list .link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--pressed);
}

/* hero image */
.hero-image {
  width: 1440px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--dark-beckground-color);
  color: var(--white);
  text-align: center;
}

.hero-text {
  padding-right: 472px;
  padding-left: 472px;
  padding-top: 188px;

  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

/* button */
.button {
  border-radius: 4px;
  padding: 16px 32px;
  margin-top: 48px;
  min-width: 169px;

  color: var(--white);
  background-color: var(--primery-brand);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--pressed);
  color: var(--white);
}

.button-portfolio {
  color: var(--primery-brand);
  background-color: var(--light);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--pressed);
  color: var(--white);
}

/* .button.primery {
  color: var(--white);
  background-color: var(--pressed);
}

.button.secondary {
  color: var(--primery-brand);
  background-color: var(--light);
} */

/* section 1 */

.features-list {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
}

.features-list > .features-item {
  flex-basis: calc((100% - 72px) / 4);
}
/* .features-list > .features-item + .features-item {
  margin-left: 24px;
  /* flex-basis: calc(100% / 4 -24px); */

.features-item {
  outline: 2px solid teal;
}

.description-title {
  margin-bottom: 8px;

  font-weight: 500;
  color: var(--title-text-color);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* section 2 */
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
}

.job {
  padding-top: 120px;
}

.our-job-list {
  display: flex;
  margin-top: 72px;
  padding-bottom: 120px;
  justify-content: space-between;
}

.our-job-list > .our-job-item {
  flex-basis: calc((100% - 48px) / 3);
  /* flex-basis: calc(100% / 3 -24px); */
}

/* section 3 */
.our-team-section {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--light);
}

.team {
  padding-top: 120px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  padding-bottom: 120px;
}

.team-list-item {
  text-align: center;
  margin-top: 8px;

  background-color: var(--white);
}

.team-item {
  margin-top: 32px;
}

/* footer */
.footer {
  width: 1440px;
  height: 310px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--dark-beckground-color);
  color: var(--accent);
}

.decoration-color-footer {
  color: var(--light);
}

.footer-logo {
  display: block;
  padding-top: 100px;
}

.footer-text {
  margin-top: 16px;
  width: 264px;

  line-height: 1.5;
  letter-spacing: 0.02em;
}
